header{
	background-size: 200px 100%;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.logo-img{
/*	width:  70px;*/
	height:  70px;
}

.about-logo {
	max-width: 300px;
}

.navbar {
	padding: 10px;
	height: 100px;
	position: absolute;
	top: 0;
	width: 100%;
}

.navbar-dark .navbar-nav .nav-link{
	color: white;
	opacity: 1;
}

nav .nav-item:hover{
	background-color: #25d45f !important;
	border-radius:  75px;
}

body{
	margin-top:  75px;
	font-family: 'Comfortaa', sans-serif;
	color: black;
	font-weight:  600;
}

.HomepageStuff{
	position:  absolute;
	top: 75px;
	bottom: 189px;
	left: 0;
	right: 0;
	overflow-y: scroll;
	background-size: 100%;
	background-image:  url("Media/bg2.jpg");	
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 189px;
	text-align: center;
	margin-top: 75px;
	background-color: rgba(33, 37, 41, 1.0);
	color: white;
	padding: 40px;
	font-size: 16px;
}

.footer-link, .footer-link:visited, .footer-link:active {
	color: #25d45f;
}

.footer-link:hover {
	color: #8ddaa6;
}

.hide {
	display: none;
}

.ingredients-category-heading {
	margin-bottom:  0rem;
	display:  inline-block;
	text-transform:  capitalize;
	margin-right: 25px;
	font-size:  2.0em;
}

.show-ingredients-button, .collapsing-button {
	font-size: 0.5em;
	font-weight: 1000;
	padding: 1em;
	margin-top: 2em;
	text-align: left;
	position: relative!important;
}

.show-ingredients-button[aria-expanded = true]>.down-arrow, .collapsing-button[aria-expanded = true]>.down-arrow {
	display: none;
}

.show-ingredients-button[aria-expanded = false]>.up-arrow, .collapsing-button[aria-expanded = false]>.up-arrow {
	display: none;
}

.down-arrow,.up-arrow {
	position: absolute!important;
	top: 50%!important;
	right: 10px!important;
	transform: translateY(-50%)!important;
	display: block;
}

.general-search-section {
	margin-top: 30px;
}

.list-inline {
	list-style-type: none;
	padding: 0;
	width: 100%;
}

.ingredients-category-list > ul > li > button {
	margin: 1rem 0rem 0rem 0rem;
}

.cuisine-button {
	margin: 1rem 0rem 0rem 0rem;
}

.search-ingredients-button, .neutral-ingredient, .neutral-button, .neutral-cuisine {
	color: #000;
	border-color: #000;
}

.search-ingredients-button:hover, .neutral-ingredient:hover, .neutral-button:hover, .neutral-cuisine:hover {
	background-color: #000;
	border-color: #000;
}

.search-ingredients-button:focus, .neutral-ingredient:focus, .neutral-button:focus, .neutral-cuisine:focus {
	box-shadow: 0 0 0 0.25rem #00000080;
}

.search-ingredients-text:focus {
	border-color:  #1a84a0;
	box-shadow: 0 0 0 0.25rem #074c5e80;
}

.include-ingredient, .include-cuisine {
	background-color: #137457;
	border-color: #137457;
}

.include-ingredient:hover, .include-cuisine:hover {
	background-color: #1a8c5a;
	border-color: #1a8c5a;
}

.exclude-ingredient, .exclude-cuisine {
	text-decoration: line-through 0.2em;
	background-color: #a61d2a;
	border-color: #a61d2a;
}

.camera-div {
	text-align: center;
}

.advanced-category-header {
	margin-bottom: 1rem;
}

.included-filters-heading {
	margin-bottom: 0.5rem;
}

.included-filters {
	margin-bottom: 0.5rem;
	margin-top: 0rem;
	margin-left: 1rem;
}

.included-filters-heading < .included-filters:not(:empty), .excluded-filters-heading < .excluded-filters:not(:empty) {
	margin-bottom: 5rem;
	background-color: red;
}

.included-filters, .excluded-filters {
	margin-bottom: 0.5rem;
	margin-top: 0rem;
	margin-left: 1rem;
}

.included-filters:empty:, .excluded-filters:empty {
	margin-bottom: 0;
}


.card-recipe-title {
	font-weight: 700;
}

.card-recipe {
	font-weight: 300;
	box-shadow: 6px 7px 18px 2px rgba(0,0,0,0.7);
	-webkit-box-shadow: 6px 7px 18px 2px rgba(0,0,0,0.7);
	-moz-box-shadow: 6px 7px 18px 2px rgba(0,0,0,0.7);
	margin-top: 50px;
	text-align: left;
}

.card-recipe-label {
	font-weight: 600;
}

.recipe-card-image:hover {
	transform: scale(1.10);
}

.recipe-card-image {
	transition: transform 0.5s;
}

.card-recipe-body {
	height: 276px;
	overflow-y: scroll;
	overflow-x: scroll;
}

.recipe-modal-image {
	width: 100%;
}

.modal-recipe-header {
	font-weight: 700;
}

.modal-recipe-body {
	font-weight: 300;
}

.modal-recipe-icon {
	width: 35px;
	margin-right: 7px;
}

.modal-recipe-instructions {
	list-style: none;
	counter-reset: item;
	padding-left: 0px;
}

.modal-recipe-step {
	counter-increment: item;
	margin-bottom: 5px;
}

.modal-recipe-step:before {
	content: counter(item);
	display: inline-block;
	margin-right: 10px;
	background-color: #25d55f;
	border-radius: 100%;
	color: |#FFFFFF;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
}

.modal-recipe-ingredient:checked {
	background-color: #25d55f !important;

}

.modal-recipe-ingredient:after {
	box-shadow: 0px 0px 27px 7px rgba(37,213,95,0.89) !important;
	-webkit-box-shadow: 0px 0px 27px 7px rgba(37,213,95,0.89) !important;
	-moz-box-shadow: 0px 0px 27px 7px rgba(37,213,95,0.89) !important;
}

.modal-recipe-ingredient {
	accent-color: #25d55f !importantS;
}

.about-page-bg {
	background-image: url("Media/Pancakes.jpg");
	background-size: 100%;
	background-position: center 25%;
}

.about-text {
	background-color: rgba(255, 255, 255, 0.50);
	font-size: 22.5px;
	padding: 25px 25px 0px 25px;
}

.Law-bg {
/*	backdrop-filter: blur(1000px);*/
	background-image: url("Media/E.jpg");
	position:  absolute;
	top: 75px;
	left: 0;
	bottom: 0px;
	right: 0;
	overflow-y: scroll;
	background-size: contain;
	background-position: center center;
}

.Law-bg-inner {
	/*	height:100vh;*/
	width: 100vw;
	/*	backdrop-filter: blur(4px);*/
	background-color: rgba(255, 255, 255, 0.25);
}
.DiscoverBG {
	position:  absolute;
	top: 75px;
	bottom: 189px;
	left: 0;
	right: 0;
	overflow-y: scroll;
	background-size: cover;
	background-image:  url("Media/bread.jpg");
	background-position: center center;
	
}

.camera-bg {
	position:  absolute;
	top: 100px;
	left: 0;
	bottom: 189px;
	right: 0;
/*	overflow-y: scroll;*/
	background-size: cover;
	background-position: center center;
	background-image:  url("Media/vegan.jpg");
}

.big-box {
	background-color: rgba(255, 255, 255, 0.75);
	font-size: 22.5px;
	padding: 40px;
/*	margin-top: 115px !important;*/
}

.camera-page-container {
/*	max-height: 100vh - 80px - 264px;*/
	position: absolute;
	top: 21px;
	bottom: 189px;
/*	width: 100%;*/
	left: 0px;
	right: 12px;
}

.sidebar {
	padding: 0px;
	background-color: rgba(255, 255, 255, 0.75);
}

.camera-ingredients-filter-section {
	height: 75%;
	padding: 16px;
	border-left: 3px solid #212529;
}

#ingredients-analyzed-div {
	overflow-y: scroll;
}

.button-one, .button-two {
	background-color: #2cb356;
}

.butin-one {
	background-color: #ff3d41;
}

#video, #canvas {
	-webkit-transform:scaleX(-1);
	transform: scaleX(-1);
	max-width: 100%;
	max-height: 100%%;
	margin: auto auto;
}

#canvas {
	margin: auto auto;
	padding: 158px;
}

.camera-message {
	font-size: 34px;
	width: 100%;
	padding: 30px;
}

#camera-logo {
	max-width: 50%;
	margin-top: 25px;
}

.whole-camera-page-area {
	background-color: rgba(255,255,255,0.5);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
/*	align-self: center;*/
/*	width: 100%;*/
	height: 100%;
}

.camera-main-area {
	text-align: center;
	width: 75%;
	overflow-y: scroll;
}

.camera-sidebar {
	width: 25%;
	padding: 0px;
}

.camera-top-sidebar {
	height: 75%;
	overflow-y: scroll;
}

.camera-bottom-sidebar {
	height: 25%;
	padding: 8% 16px;
	border-left: 3px solid #212529;
	border-top: 3px solid #212529;
}

@media(max-width: 768px) {
	.whole-camera-page-area {
		flex-direction: column;
		overflow-y: scroll;
		align-items: flex-start;
	}
	.camera-main-area {
		width: 100%;
		height: auto;
		overflow-y: auto;
		order: 2;
	}
	.camera-sidebar {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		order: 1;
	}
	.camera-top-sidebar {
		height: auto;
		overflow-y: auto;
		order: 2;
	}
	.camera-top-sidebar:empty {
		display: none;
	}
	.camera-bottom-sidebar {
		height: auto;
		border-top: none;
		border-left: none;
		order: 1;
	}
	.camera-message {
		font-size: 24px;
		padding: 15px;
	}
	#camera-logo {
		margin-top: 0px;
		max-width: 100%;
	}
	#canvas {
		padding: 0px;
	}
}

.Order-bg {
/*	backdrop-filter: blur(1000px);*/
	background-image: url("Media/L.jpg");
	position:  absolute;
	top: 75px;
	left: 0;
	bottom: 0px;
	right: 0;
	overflow-y: scroll;
	background-size: cover;
	background-position: center bottom;
}

.intolerances-checkbox:focus {
	border-color: #25d45f;
	box-shadow: 0 0 0 0.25rem rgba(37, 212, 95, .25);
}

.intolerances-checkbox:checked {
	background-color: #25d45f;
	border-color: #25d45f;
}

.advanced-filter-slider::-webkit-slider-thumb{ 
	background-color: #25d45f;
}

.advanced-filter-slider::-moz-range-thumb {
	background-color: #25d45f;
}

.advanced-filter-slider:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(37, 212, 95, 0.25);
}

.advanced-filter-slider:focus::-moz-range-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(37, 212, 95, 0.25);
}

.advanced-filter-slider::-moz-range-thumb:active {
	background-color: rgba(37, 212, 95, 0.25);
}

.advanced-filter-slider::-webkit-slider-thumb:active {
	background-color: rgba(37, 212, 95, 0.25);
}

.forms-radio:checked {
	background-color: #25d45f;
	border-color: #25d45f;
}

.forms-radio:focus {
	border-color: #25d45f;
	box-shadow: 0 0 0 0.25rem rgba(37, 212, 95, 0.25);
}