header{
	background-image: url("Recipe Banner.jpg");
	height:  200px;
	background-size: 200px 100%;
}

.logo-img{
	width:  70px;
/*	height:  70px;*/
}

.navbar-dark .navbar-nav .nav-link{
	color: white;
	opacity: 1;
}

nav .nav-item:hover{
	background-color: #25d45f !important;
	border-radius:  75px;
}

body{
	margin-top:  75px;
	font-family: 'Montserrat', sans-serif;
	color: black;
}

.footer{
	text-align: center;
	margin-top: 75px;
	background-color: rgba(33, 37, 41, 1.0);
	color: white;
	padding: 40px;
	font-size: 16px;
}

.footer-link, .footer-link:visited, .footer-link:active {
	color: #25d45f;
}

.footer-link:hover {
	color: #8ddaa6;
}