header{
	background-size: 200px 100%;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.logo-img{
	width:  70px;
	height:  70px;
}

#camera-logo, .about-logo {
	max-width: 300px;
}

.navbar {
	padding: 10;
}

.navbar-dark .navbar-nav .nav-link{
	color: white;
	opacity: 1;
}

nav .nav-item:hover{
	background-color: #25d45f !important;
	border-radius:  75px;
}

body{
	margin-top:  75px;
	font-family: 'Comfortaa', sans-serif;
	color: black;
}

.footer{
	position: absolte;
	bottom: 0;
	width: 100%;
	height: 267px;
	text-align: center;
	margin-top: 75px;
	background-color: rgba(33, 37, 41, 1.0);
	color: white;
	padding: 40px;
	font-size: 16px;
}

.footer-link, .footer-link:visited, .footer-link:active {
	color: #25d45f;
}

.footer-link:hover {
	color: #8ddaa6;
}

.hide {
	display: none;
}

.ingredients-category-heading {
	margin-bottom:  0rem;
	display:  inline-block;
	text-transform:  capitalize;
	margin-right: 25px;
	font-size:  2.0em;
}

.show-ingredients-button, .collapsing-button {
	font-size: 0.5em;
	font-weight: 1000;
	padding: 1em;
	margin-top: 2em;
	text-align: left;
	position: relative!important;
}

.show-ingredients-button[aria-expanded = true]>.down-arrow, .collapsing-button[aria-expanded = true]>.down-arrow {
	display: none;
}

.show-ingredients-button[aria-expanded = false]>.up-arrow, .collapsing-button[aria-expanded = false]>.up-arrow {
	display: none;
}

.down-arrow,.up-arrow {
	position: absolute!important;
	top: 50%!important;
	right: 10px!important;
	transform: translateY(-50%)!important;
	display: block;
}

.general-search-section {
	margin-top: 30px;
}

.list-inline {
	list-style-type: none;
	padding: 0;
	width: 100%;
}

.ingredients-category-list > ul > li > button {
	margin: 1rem 0rem 0rem 0rem;
}

.search-ingredients-button, .neutral-ingredient, .neutral-button {
	color: #1a84a0;
	border-color: #1a84a0;
}

.search-ingredients-button:hover, .neutral-ingredient:hover, .neutral-button:hover {
	background-color: #1a84a0;
	border-color: #1a84a0;
}

.search-ingredients-button:focus, .neutral-ingredient:focus, .neutral-button:focus {
	box-shadow: 0 0 0 0.25rem #1a84a080;
}

.search-ingredients-text:focus {
	border-color:  #1a84a0;
	box-shadow: 0 0 0 0.25rem #1a84a020;
}

.include-ingredient {
	background-color: #137457;
	border-color: #137457;
}

.include-ingredient:hover {
	background-color: #1a8c5a;
	border-color: #1a8c5a;
}

.exclude-ingredient {
	text-decoration: line-through 0.2em;
	background-color: #a61d2a;
	border-color: #a61d2a;
}

.camera-div {
	text-align: center;
}

.advanced-category-header {
	margin-bottom: 1rem;
}

.included-filters-heading {
	margin-bottom: 0.5rem;
}

.included-filters {
	margin-bottom: 0.5rem;
	margin-top: 0rem;
	margin-left: 1rem;
}